services:
  arema-ontology:
    build: .
    container_name: arema-ontology-service
    network_mode: host
    environment:
      - FUSEKI_URL=http://localhost:3030/arema/data
      - FUSEKI_UPDATE_URL=http://localhost:3030/arema/data
      - FUSEKI_USERNAME=${FUSEKI_USERNAME}
      - FUSEKI_PASSWORD=${FUSEKI_PASSWORD}
      - SERVICE_ACCOUNT_KEY=/app/service_account.json
      - GOOGLE_SHEET_ID=${GOOGLE_SHEET_ID:-1RL6Y120_H9-yD8x52eZO44S2iLQpLoZHitcExHsPfPs}
      - GOOGLE_SHEET_OBJECTS_GID=${GOOGLE_SHEET_OBJECTS_GID:-1120751986}
      - GOOGLE_SHEET_PROPERTIES_GID=${GOOGLE_SHEET_PROPERTIES_GID:-373147482}
      - GITHUB_TOKEN=${GITHUB_TOKEN}
      - GITHUB_REPOSITORY=${GITHUB_REPOSITORY:-sdsc-ordes/arema-ontology}
    volumes:
      - ./src:/app/src
      - ./tools:/app/tools
      - ./service_account.json:/app/service_account.json:ro

  fuseki:
    image: stain/jena-fuseki:5.1.0
    container_name: arema-fuseki
    network_mode: host
    environment:
      - ADMIN_PASSWORD=${FUSEKI_PASSWORD}
    volumes:
      - ./tools/fuseki/data:/fuseki/databases
      - ./tools/fuseki/config.ttl:/fuseki/config.ttl
    command: ["/jena-fuseki/fuseki-server", "--config=/fuseki/config.ttl"]